/* HTML BASE */
html {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,p {
  margin: 0;
  padding: 0;
}
h2, a, h3,p,footer {
  font-family: Georgia,Times,Times New Roman,serif;
}
body  {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #25315e;
}

canvas {
   position: fixed;
   top: 0;
   left:0;
   z-index: -1;
}

/* PAGE ELEMENTS */
.credits {
  font-size: 0.8rem;
  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;
}

.credits__link {
  color: #f8e9a1;
  text-decoration: none;
}

.credits__link:hover {
  color: #222;
}
.divider {
  width: 90%;
  margin: 3rem;
}

.logo {
  fill:white;
  width: 50px;
  height: 50px;
  padding: 0.5rem;
}
.title {
  font-size: 32px;
  line-height: 40px;
  color: #eee;
  font-weight: 400;
  margin: 1rem;
  text-transform: uppercase;
}

.sub-title {
  font-size: 20px;
  line-height: 28px;
  color: #444;

}

.para {
  font-size: 16px;
  line-height: 22px;
  color: #444;
  font-weight: 400;
  width: 80%;
  margin: 1rem auto;
}

.title__content {
  width: 100%;
  height: 60%;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 100%;
  margin: 0 auto;
  /* margin-bottom: 5rem; */
  /* padding-bottom: 2rem; */
}

.main-sub-content {
  height: 100%;
  padding: 1rem 0;
}

.main-red {
  background: #f76c6c;
}

.main-lblue {
  background:  #a8d0e6;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  color: #888;
}

.highlight {
  color: #f8e9a1;
  font-weight: 600;
}

.footer {
  font-size: 12px;
  line-height: 18px;
  width: 80%;
  margin: 1rem auto;
}

.content-image {
  width: 80%;
  margin: 0 10%;
  margin-bottom: 0.25rem;
}

.img-caption {
  font-size: 10px;
  line-height: 14px;
  font-style: italic;
  margin-top: 0;
}

/* PLACES MENU */
.places__list {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 1rem auto;
  width: 80%;
}
.places__item {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 2rem;
}

.places__link {
  text-decoration: none;
  color: #222;
  padding: 0.5rem;
  border: solid 1px #222;
  border-radius: 5px;
}

.places__link:hover {
  background: #f8e9a1;
  color: #fff;
  border: solid 1px #f8e9a1;
}

.places__spacer {
  font-size: 2rem;
  color: #222;
  line-height: 2rem;
}

/* EFFECTS */
.center {
  text-align: center;
}

.left {
  text-align: left;
  width: 80%;
  margin: 1rem auto;
}
.white {
  color: #dddddd;
}

.bold {
  font-weight: bold;
}

/* TEAM */
.team__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.team__item {
  width: 100%;
  list-style: none;
  margin: 1rem 0;
}

.team__image {
  width: 100%;
  max-width: 250px;
  display: flex;
  margin: 0 auto;

}
.team__image-blr {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border-radius: 50%;
  margin: 1rem auto;
}

.team__bio {
  width: 80%;
  margin: 0 auto;
}

/* RESPONSIVENESS */
@media all and (min-width:768px){
  body {
    height: 100%;
  }

.title__content {
  height: 40%;
  }
  .main-sub-content {
    width:50%;
    padding: 2rem;
    overflow-y: scroll;
  }
  .main-content {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .team__item {
    width: 100%;
    display: flex;
    list-style: none;
  }
  .team__bio {
    width: 80%;
    margin: 0 auto;
  }
  .team__image {
    width: 100px;
    height:100px;
  }
 }
