.blr-time {
  color: #ed225d;
}

.blr-event {
  display: flex;
  text-decoration: none;
  margin: 1rem 0;
}

.blr-event-list {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.blr-event-name {
  margin-left: 1rem;
}

.blr-speakers {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.blr-speaker {
  list-style: none;
  margin: 0.5rem;
}

.blr-nav {
  justify-content: center;
  background: white;
  height: 2rem;
  width: 100%;
  margin: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.blr-body {
  padding: 3rem;
}

.blr-logo {
  display: flex;
  margin: 0 auto;
}
